<!DOCTYPE html>
<html>
<head>
    <title></title>
        <link rel="stylesheet" href="/assets/css/burger_style.css">
</head>
<img src="/assets/img/burger.png">

<h1>Eat-Da-Burger!</h1>

{{{body}}}

</html>
