html {
    background: #FFCC66;
}

h1 {
    text-align: center;
}

#container {
    display: block;
    width: 90%;
    margin: auto;
    margin-bottom: 1em;
    height: 100%;
    padding: 0.5em;
}

#left{
    display: inline-block;
    width: 60%;
    margin-bottom: 0.5em;
}

#right {
    display: inline-block;
    width: 40%;
    float: right;
    margin-bottom: 0.5em;

}

button {
    display: inline-block;
    padding: 0.5em;
    width: 20%;
    height: 100%;
    border: 1px solid grey;
    border-radius: 4px;
    background: #F5F5F5;
}

p {
    display: inline-block;
    width: 70%;
    padding: 0.5em;
    border: 1px solid grey;
    border-radius: 4px;
    background: #F5F5F5;
    margin: 0;
}

.burger {
    display: block;
    width: 100%;
}

.burger-eaten {
    display: block;
    width: 100%;
    margin-right: 0px;
    color: grey;
}

#input-area {
    display: block;
    width: 20%;
    margin: auto;
    margin-top: 1em;
    text-align: center;
}

input {
    width: 100%;
    height: 40px;
    border: 1px solid grey;
    border-radius: 4px;
    background: #F5F5F5;
    margin-bottom: 1em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

#burger-submit {
    width: 100%;
}

